---
import CardContainer from "./CardContainer.astro";
import SubHeading from "./SubHeading.astro";
---

<CardContainer class="md:col-span-5 lg:col-span-4 group overflow-hidden">
    <div class="card4 h-full flex items-center px-5 py-3 bg-no-repeat bg-right-bottom">
        <SubHeading class="text-balance group-hover:translate-x-3 transition-transform">Tech enthusiast with a passion for development</Su>
    </div>
</CardContainer>

<style>
    .card4{
        background-image: url('../assets/b4.svg');
    }
    </style>