---
import { cn } from '@/lib/utils'
import { Button } from './ui/button'
const props = Astro.props
---
<Button className={cn("btn relative isolate text-white w-fit px-3 py-2 before:content-[''] before:absolute before:inset-[1.5px] before:bg-[#04071D] before:rounded-[inherit] before:z-[-1]", props.class)}>
  <slot/>
</Button>
<style>
    @property --gradient-angle {
        syntax: "<angle>";
        initial-value: 0deg;
        inherits: false;
    }
    .btn {
        background-image: conic-gradient(from var(--gradient-angle), rgb(0, 200, 255), rgb(0, 149, 255));
        animation: rotation 10s linear infinite;
    }
    .btn:hover, .btn:focus {
        color: #CBACF9;
    }
    .btn:active {
        scale: 0.95;
    }
    @keyframes rotation {
        from { --gradient-angle: 0deg }
        to { --gradient-angle: 360deg }
    }
</style>